@model IEnumerable<KurumsalWebProjesi.Models.Model.Blog>
@using KurumsalWebProjesi.Helper;
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Title -->
<div class="page-title dark-background">
    <div class="container position-relative">
        @*<h1>Blog</h1>
            <p>Blog Yazılarımıza Alt Sekmeden Ulaşabilirsiniz.</p>*@
        <nav>
            <!--<ul>-->
                @*<li><a href="index.html">Ana Menü</a></li>
                    <li class="current">Blog</li>*@

                <!--<li>-->

                    @*<h5>Blog Kategorilerimiz</h5>
                    @{
                        Html.RenderAction("BlogKategoriPartial", "Home");
                    }*@
                <!--</li>
            </ul>-->
        </nav>
    </div>
</div><!-- End Page Title -->
<!-- Blog Posts Section -->
<section id="blog-posts" class="blog-posts section">
  
    <div class="container">
        <div class="row gy-4">
            @foreach (var item in Model)
            {
                <div class="col-lg-6">
                    <!-- 2 sütun için lg ekranlarda 6 birim -->
                    <div style="background-color: whitesmoke; width: 100%; height: auto; text-align: center;">
                        <br />
                        <br />
                        <img src="~/@item.ResimURL" alt="Resim" height="150" width="150" />
                        <hr />
                        <h2 class="title">
                            <a href="/BlogPost/@SeoHelper.ToSeoUrl(item.Baslik).ToLower()-@item.BlogId">@item.Baslik</a>
                        </h2>
                        <a class="btn-get-started" href="/BlogPost/@SeoHelper.ToSeoUrl(item.Baslik).ToLower()-@item.BlogId">@(HttpContext.GetGlobalResourceObject("Labels", "Blog_devamini_oku"))</a>
                        <br />
                        <br />
                        @*<p class="post-category">@item.Icerik</p>*@
                    </div>
                </div>
            }
        </div>
    </div>

</section><!-- /Blog Posts Section -->
