
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title -->
<div class="page-title dark-background">
    <div class="container position-relative">
        <h1>Bizimle İrtibata Geçin</h1>
        <p>Aşağıdaki formdan bize mail gönderebilirsiniz</p>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="index.html">Ana Sayfa</a></li>
                <li class="current">İletişim</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<!-- Contact Section -->
<section id="contact" class="contact section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
            <div class="col-lg-6">
                <form action="/Home/Iletisim/" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="500">
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <input type="text" name="adsoyad" class="form-control" placeholder="İsim" required="">
                        </div>

                        <div class="col-md-6 ">
                            <input type="email" class="form-control" name="email" placeholder="Email" required="">
                        </div>

                        <div class="col-md-12">
                            <input type="text" class="form-control" name="konu" placeholder="Konu" required="">
                        </div>

                        <div class="col-md-12">
                            <textarea class="form-control" name="mesaj" rows="4" placeholder="Mesaj" required=""></textarea>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Yükleniyor</div>
                            <div class="error-message"></div>
                            <div class="sent-message">@ViewBag.Uyari <br /> Teşekkür ederiz.</div>

                            <button type="submit">Mesaj Gönder</button>
                        </div>
                        <div class="mt-5" data-aos="fade-up" data-aos-delay="200" >
                            <iframe style="border:0; width: 100%; height: 370px;" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3416890.071986663!2d35.38577763671542!3d41.83350739533719!3m2!1i1024!2i768!4f13.1!5e0!3m2!1str!2str!4v1743763739407!5m2!1str!2str"frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div> 

                    </div>
                </form>
            </div><!-- End Contact Form -->

        </div>

    </div>

   

</section><!-- /Contact Section -->
