
@model IEnumerable<KurumsalWebProjesi.Models.Model.Kategori>
@{
    ViewBag.Title = "Admin Ana Sayfa";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<main id="main" class="main">


    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">
                    <h3>Admin Özet Sayfasına Hoş Geldiniz</h3>
                    <p>Solda ki sayfalardan site yönetimini yapabilirsiniz</p>
                    <p>kolaylıklar dileriz.</p>
                    <br />
                    <br />
                </div>
            </div>

            <div class="row">
                <!-- Blog Sayısı -->
                <div class="col-md-3">
                    <div class="card-body">
                        <h5 class="card-title">Toplam yazılan Blog Sayısı:</h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-people"></i>
                            </div>
                            <div class="ps-3">
                                <h6>@ViewBag.BlogSayisi</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Kategori Sayısı -->
                <div class="col-md-3">
                    <div class="card-body">
                        <h5 class="card-title">Blog için yazılacak kategori sayısı:</h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-people"></i>
                            </div>
                            <div class="ps-3">
                                <h6>@ViewBag.KategoriSayisi</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Hizmet Sayısı -->
                <div class="col-md-3">
                    <div class="card-body">
                        <h5 class="card-title">Toplam verilen Hizmet sayısı:</h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-people"></i>
                            </div>
                            <div class="ps-3">
                                <h6>@ViewBag.HizmetSayisi</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Yorum Sayısı -->
                <div class="col-md-3">
                    <div class="card-body">
                        <h5 class="card-title">Bloglara yapılan toplam yorum sayısı:</h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-people"></i>
                            </div>
                            <div class="ps-3">
                                <h6>@ViewBag.YorumSayisi</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</section>

</main><!-- End #main -->